@layer base {
  :root {
    --text-body: rgb(210, 210, 210);
    --text-header: rgb(250, 250, 250);
    --surface-bg: rgb(40, 40, 40);
    --surface-bg-accent: rgb(30, 30, 30);
    --shadow-main: rgb(250, 250, 250);
    --border-default: rgb(200, 200, 200);
    --button-main: rgb(90, 90, 90);
    --button-hover: rgb(100, 100, 100);
    --hero-bg: url("../images/index-images/dark-hero-bg.jpg");
  }
  html {
    font-size: 12px;
    box-sizing: border-box;
  }
  body.light {
    --text-body: rgb(50, 50, 50);
    --text-header: rgb(60, 60, 60);
    --surface-bg: rgb(240, 240, 240);
    --surface-bg-accent: rgb(230, 230, 230);
    --shadow-main: rgb(0, 0, 0);
    --border-default: rgb(100, 100, 100);
    --button-main: rgb(50, 50, 50);
    --button-hover: rgb(60, 60, 60);
    --hero-bg: url("../images/index-images/light-hero-bg.jpg");
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* Text Defaults */
  body {
    font-family: "Times New Roman", Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
    background-color: var(--surface-bg);
    color: var(--text-body);
  }

  /* Header Defaults */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  caption {
    font-family: "Arial Black", Gadget, sans-serif;
    text-wrap: balance;
    color: var(--text-header);
  }

  h1 {
    display: flex;
    justify-content: left;
    border: 0.2rem solid var(--border-default);
    border-right: none;
    max-width: 15rem;
    padding: 0.3rem;
    font-size: 2rem;
    margin: 1rem;
  }

  h2,
  caption {
    font-size: 1.5rem;
    margin: 1rem;
    border-bottom: 0.2rem solid var(--border-default);
  }

  input,
  textarea {
    width: 100%;
    resize: none;
    overflow: auto;
  }

  p {
    text-wrap: pretty;
    color: var(--text-body);
  }

  strong {
    color: white;
  }

  button {
    background-color: var(--button-main);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-color: white;
    color: white;
  }

  ul {
    list-style-type: none;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    animation-delay: 0.01ms !important;
    transition-duration: 0.01ms !important;
    transition-delay: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

section.section-block {
  border: 0.15rem solid var(--border-default);
  border-radius: 1rem;
  margin-bottom: 2rem;
  width: 60%;
  padding: 1rem;
}

button.card-button {
  align-self: bottom;
  color: white;
  margin-top: 1rem;
}

p.card-text {
  text-align: left;
}

img.card-image {
  border: 0.1rem solid var(--border-default);
  width: 40%;
  height: 40%;
}

.central-text {
  color: var(--text-header);
  border: 0.2rem solid var(--border-default);
  border-radius: 0.3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  padding: 0.5rem;
}

.card {
  border: 0.15rem solid var(--border-default);
  border-radius: 1rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
  display: inline-block;
  text-align: center;
  width: 20rem;
  height: 20rem;
  overflow: auto;
}
.card-list {
  display: flex;
  justify-content: center;
}

.skip-link {
  position: absolute;
  left: -999px;
  top: 0;
  padding: 0.25rem 0.25rem;
  background: var(--surface-bg);
  color: var(--border-default);
  border-radius: 0.5rem;
  z-index: 1;
}
.skip-link:focus {
  left: 0.75rem;
  top: 0.75rem;
}

nav a[aria-current="page"] {
  padding: 0.5rem;
  border: 0.1rem solid var(--border-default);
  border-radius: 0.5rem;
  background-color: var(--surface-bg);
}

nav[aria-label="primary-navigation"] {
  flex: 1;
  color: var(--text-body);
}

#header-links {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 2%;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  text-align: center;
  background-size: cover;
  background-color: rgb(35, 35, 35);
  background-image: var(--hero-bg);
  border-bottom: 0.2rem solid var(--border-default);
  width: 100%;
  height: 30rem;
}

#page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--surface-bg-accent);
  border-bottom: 0.2rem solid var(--border-default);
  position: sticky;
  top: 0;
}

#contact-info {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  border: 0.15rem solid var(--border-default);
  border-radius: 1rem;
  padding: 1rem;
  width: 50%;
}

#theme-toggle {
  box-shadow: var(--shadow-main) 0rem 0rem 1rem;
  margin-left: 3rem;
}
#theme-toggle:hover {
  background-color: var(--button-hover);
}

/* Weather Styles */
#weather-output {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  gap: 4rem;
  min-height: 20rem;
  min-width: 30rem;
  box-shadow: var(--shadow-main) 0rem 0.25rem 0.5rem;
  background-color: var(--surface-bg);
  border-radius: 1rem;
}
#weather-degrees {
  font-size: 5rem;
  font-weight: bold;
  color: var(--text-header);
}
#weather-forecast {
  font-size: 2.5rem;
  color: var(--text-body);
}
